<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
<h1>Home Page</h1>
<h2 th:text=" 'Welcome to ' + ${courseName} + ' :)'"/>

<form th:action="@{/api/v1/courses}" th:object="${courseRequestDto}" method="post">
<!--<form action="/myapp/api/v1/courses" method="post">-->
    <label>Course Name:</label>
    <input type="text" th:field="*{courseName}" placeholder="Course Name" />
    <label>Course Code:</label>
    <input type="text" th:field="*{courseCode}" placeholder="Course Code" />
    <label>Course Desc:</label>
    <input type="text" th:field="*{courseDescription}" placeholder="Course Description" />
    <input type="submit" value="Submit"/>
</form>
</body>
</html>